* {
  margin: 0;
  padding: 0;
}

header {
  width: 100%;
  height: auto;
}
header .container_all {
  width: 100%;
  height: auto;
}
header .container_all .container_menu {
  width: 90%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  height: 10vh;
}
header .container_all .container_menu input {
  display: none;
}
@media screen and (min-width: 768px) {
  header .container_all .container_menu label {
    display: none;
  }
}
header .container_all .container_menu .icon {
  padding: 15px;
}
header .container_all .container_menu .menu {
  width: 100%;
  height: auto;
  background-image: linear-gradient(to right, #434343 0%, black 100%);
  transform: translateY(-150%);
  transition: all 1s ease-in-out;
}
@media screen and (min-width: 768px) {
  header .container_all .container_menu .menu {
    transform: translateY(0);
    background-image: none;
  }
}
header .container_all .container_menu .menu ul {
  width: 90%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  header .container_all .container_menu .menu ul {
    flex-direction: row;
    width: 90%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 1024px) {
  header .container_all .container_menu .menu ul {
    width: 100%;
  }
}
@media screen and (min-width: 1440px) {
  header .container_all .container_menu .menu ul {
    width: 100%;
  }
}
header .container_all .container_menu .menu .iten_logo {
  flex: 80;
  list-style: none;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #fff;
  cursor: pointer;
}
@media screen and (min-width: 1024px) {
  header .container_all .container_menu .menu .iten_logo {
    font-size: 24px;
    font-weight: bold;
  }
}
header .container_all .container_menu .menu .iten {
  flex: 20;
  list-style: none;
  padding-bottom: 20px;
  padding-top: 20px;
  border-bottom: 1px solid #fff;
}
header .container_all .container_menu .menu .iten.iten:nth-child(3) {
  border-bottom: none;
}
@media screen and (min-width: 1024px) {
  header .container_all .container_menu .menu .iten {
    text-align: center;
  }
}
header .container_all .container_menu .menu a {
  width: 100%;
  text-decoration: none;
  color: #fdfbfb;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  header .container_all .container_menu .menu a {
    color: #000;
  }
}
header .container_all .container_menu #btn-menu:checked ~ .menu {
  transform: translateY(0);
}
@media screen and (min-width: 1440px) {
  header .container_all .container_menu {
    width: 90%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }
}
header .container_main {
  width: 90%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  flex-wrap: wrap-reverse;
  justify-content: space-between;
  align-items: center;
}
header .container_main .text_main {
  width: 100%;
}
header .container_main .text_main .maintext {
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 20px;
}
header .container_main .text_main .maintext .apart {
  display: none;
}
@media screen and (min-width: 768px) {
  header .container_main .text_main .maintext br {
    display: none;
  }
  header .container_main .text_main .maintext .break {
    display: block;
  }
}
@media screen and (min-width: 1024px) {
  header .container_main .text_main .maintext {
    text-align: left;
    line-height: 75px;
    font-size: 48px;
  }
  header .container_main .text_main .maintext br {
    display: block;
  }
  header .container_main .text_main .maintext .apart {
    display: block;
  }
  header .container_main .text_main .maintext .break {
    display: none;
  }
}
header .container_main .text_main .break {
  display: block;
}
header .container_main .text_main .secondtext {
  text-align: center;
  font-size: 14px;
  text-transform: unset;
  font-weight: 300;
  letter-spacing: 1.5px;
  font-size: 16px;
}
header .container_main .text_main .secondtext .separate {
  display: none;
}
@media screen and (min-width: 768px) {
  header .container_main .text_main .secondtext .separate {
    display: block;
  }
}
@media screen and (min-width: 768px) {
  header .container_main .text_main .secondtext {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    font-weight: 300;
  }
}
@media screen and (min-width: 1024px) {
  header .container_main .text_main .secondtext {
    width: 100%;
    text-align: left;
    line-height: 25px;
  }
}
@media screen and (min-width: 1440px) {
  header .container_main .text_main .secondtext {
    width: 80%;
    margin: 0;
  }
}
header .container_main .text_main .btn {
  width: 125px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  height: auto;
  padding: 15px 20px;
  border-radius: 30px;
  background-color: #000;
}
@media screen and (min-width: 1024px) {
  header .container_main .text_main .btn {
    margin: 0;
    margin-top: 25px;
    border: none;
  }
}
header .container_main .text_main .btn a {
  text-decoration: none;
  color: #fff;
}
@media screen and (min-width: 1024px) {
  header .container_main .text_main {
    width: 48%;
  }
}
header .container_main .img_main {
  width: 100%;
}
@media screen and (min-width: 768px) {
  header .container_main .img_main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (min-width: 1024px) {
  header .container_main .img_main {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }
}
header .container_main .img_main img {
  width: 100%;
  max-width: 100%;
  height: auto;
}
@media screen and (min-width: 768px) {
  header .container_main .img_main img {
    width: 60%;
  }
}
@media screen and (min-width: 1024px) {
  header .container_main .img_main img {
    width: 80%;
  }
}
@media screen and (min-width: 1440px) {
  header .container_main .img_main img {
    width: 80%;
  }
}

.about {
  width: 100%;
  height: auto;
  margin-top: 50px;
  background-image: url(../img/Galery/headphones-690685_1920.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.about .container {
  width: 90%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}
.about .container .text1 {
  width: 100%;
  color: #fff;
  text-align: center;
  padding-top: 60px;
}
@media screen and (min-width: 768px) {
  .about .container .text1 {
    font-size: 26px;
  }
}
.about .container .text2 {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  color: #fff;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .about .container .text2 {
    width: 50%;
    line-height: 40px;
    font-size: 32px;
  }
}
@media screen and (min-width: 1024px) {
  .about .container .text2 {
    width: 35%;
  }
}
@media screen and (min-width: 1440px) {
  .about .container .text2 {
    width: 25%;
  }
}
.about .container .text3 {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  padding-bottom: 60px;
  color: #fff;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .about .container .text3 {
    width: 60%;
  }
}
@media screen and (min-width: 1024px) {
  .about .container .text3 {
    width: 70%;
    line-height: 20px;
  }
}
.about .container .text3 .tex {
  display: none;
}
@media screen and (min-width: 1024px) {
  .about .container .text3 .tex {
    display: block;
  }
}

.galery {
  width: 100%;
  height: auto;
}
.galery .container_galery {
  width: 90%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}